@charset UTF-8;

body {
    background-color: #ff6f00;
    font: normal 1.3em Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}
section {
    background-color: #252525;
    width: 500px;
    padding: 25px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 3px 3px 5px #0000007e;
}
div#dados {
    text-align: left;
}
input[type='button'] {
    background-color: #0042e8;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
input[type='button']:hover {
    background-color: #1129ff;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: white;
}
footer {
    font-size: 18px;
    font-style: italic;
}